.fill-primary-button-background {
  fill: var(--primary-button-background);
}
.fill-secondary-icon {
  fill: var(--secondary-icon);
}



.doorble-icon {
  background-position: 0 -570px;
  background-image: url("../images/doorble_icon.jpg");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.post-icon {
  background-position: 0 -570px;
  background-color: #3002f8;
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 80px;
  border-radius: 5px;
  align-items: right;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  text-align: center;	
  left: 0;
  
}


.search-icon {
  width: 16px;
  height: 16px;
  background-position: 0 -828px;
  background-image: url("../images/icons.png");
  background-size: 25px 1070px;
  filter: var(--filter-secondary-icon);
}

.plus-icon {
  background-position: 0 -570px;
  background-image: url("../images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.message-icon {
  background-position: 0 -570px;
  background-image: url("../images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.notification-icon {
  background-position: 0 -570px;
  background-image: url("../images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.photo-video-icon {
  height: 24px;
  width: 24px;
  background-image: url("../images/icons3.png");
  background-size: 25px 265px;
  display: inline-block;
  background-position: 0 -100px;
}
.feeling-activity-icon {
  height: 24px;
  width: 24px;
  background-image: url("../images/icons3.png");
  background-size: 25px 265px;
  display: inline-block;
  background-position: 0 -50px;
}

.ad-icon {
  width: 20px;
  height: 17px;
  background-image: url("../images/ad-icon.jpg");
  background-size: contain;
  display: inline-block;
  /* background-position: -34px -350px; */
}


.post-settings-icon {
  height: 12px;
  width: 12px;
  background-image: url("../images/icons5.png");
  background-size: 25px 725px;
  display: inline-block;
  background-position: 0 -699px;
  filter: var(--filter-secondary-icon);
}





/* HELP HERE PLS */
.post-menu-icon {
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  background: none;
  background-image: url("../images/icons4.png");
  background-size: 73px 406px;
  display: inline-block;
  background-position: 0 -232px;
  
}


/* The container <div> - needed to position the dropdown content */
.dropdown-ads {
  position: relative;
  display: inline-block;
  width: 100px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-ads {
  display: none;
  position: relative;
  /* background-color: #e4e6e9; */
  width: 100px;
  z-index: 1;
  position: float;
}

/* Links inside the dropdown */
.dropdown-content-ads a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content-ads a:hover {
  background: #555;
  color: #fff;
  width: 100%
}


/* new location icon hover  */
.loction-icon {
  position: relative;
  display: inline-block;
}

/* loction-icon text */
.loction-icon .loction-icontext {
  visibility: hidden;
  width: 300px;
  border: solid;
  background-color: rgb(252, 252, 252);
  color: rgb(4, 3, 3);
  text-align: left;
  padding: 10px 10px ;
  border-radius: 12px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
}

/* Show the loction-icon text when you mouse over the loction-icon container */
.loction-icon:hover .loction-icontext {
  visibility: visible;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-loc {
  display: none;
  position: relative;
  /* background-color: #e4e6e9; */
  width: 100px;
  z-index: 1;
  position: float;
}

/* Links inside the dropdown */
.dropdown-content-loc a {
  color: blue;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content-loc a:hover {
  color: blue;
  width: 100%
}



.post-info-icon {
  background-image: url("../images/icons5.png");
  width: 20px;
  height: 20px;
  background-position: 0 -92px;
  background-size: 25px 725px;
  display: inline-block;
}

.like-icon {
/*   background-image: url("../images/icons5.png"); */
  width: 18px;
  height: 18px;
/*   background-position: 0 -172px;
  background-size: 25px 725px; */
  display: inline-block;
  cursor: pointer;
/*   filter: var(--filter-secondary-icon); */
}
.comment-icon {
  background-image: url("../images/comment-icon.png");
  width: 18px;
  height: 16px;
  background-size: 18px 16px;
  display: inline-block;

}
.share-icon {
  background-image: url("../images/icons5.png");
  width: 18px;
  height: 18px;
  background-position: 0 -191px;
  background-size: 25px 725px;
  display: inline-block;
  filter: var(--filter-secondary-icon);
}
.dropdown-icon-small {
  width: 12px;
  height: 12px;
  background-image: url("../images/icons4.png");
  background-position: -13px -393px;
  display: inline-block;
  background-size: 73px 406px;
  filter: var(--filter-secondary-icon);
}
.plus-icon-2 {
  width: 24px;
  height: 24px;
  background-position: 0 -257px;
  background-image: url("../images/icons6.png");
  display: inline-block;
  background-size: 49px 425px;
  filter: var(--filter-always-white);
}
.right-arrow-icon {
  width: 20px;
  height: 20px;
  background-position: -50px -94px;
  background-image: url("../images/icons4.png");
  display: inline-block;
  background-size: 73px 406px;
  filter: var(--filter-secondary-icon);
}
.chevron-bottom-icon {
  width: 20px;
  height: 20px;
  background-position: 0 -169px;
  background-image: url("../images/icons4.png");
  display: inline-block;
  background-size: 73px 406px;
  filter: var(--filter-secondary-icon);
}
.birthday-icon {
  background-image: url("../images/icons7.png");
  height: 36px;
  width: 36px;
  background-position: 0 0;
  background-size: 37px 184px;
  flex-grow: 0;
  flex-shrink: 0;
}
.contact-live-video-icon {
  background-image: url("../images/icons3.png");
  height: 16px;
  width: 16px;
  background-position: 0 -188px;
  background-size: 25px 265px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: var(--filter-secondary-icon);
}
.contact-search-icon {
  background-image: url("../images/icons4.png");
  height: 16px;
  width: 16px;
  background-position: -34px -333px;
  background-size: 73px 406px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: var(--filter-secondary-icon);
}
.contact-menu-icon {
  background-image: url("../images/icons4.png");
  height: 16px;
  width: 16px;
  background-position: -17px -333px;
  background-size: 73px 406px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: var(--filter-secondary-icon);
}
.new-post-icon {
  background-image: url("../images/icons8.png");
  height: 20px;
  width: 20px;
  background-position: 0 -403px;
  background-size: 25px 844px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: var(--filter-primary-icon);
}

/* Help center buttons */

.helpcenter-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #3002f8;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 49%;
  height:100px;
}

.helpcenter-btn:disabled {
  cursor: default;
}

.helpcenter-btn:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}




/* Settings */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.nav-pills a.nav-link-priv {
	padding: 15px 20px;
  width:100%;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
  display: flex;
  justify-content: space-between;
}
.nav-pills a.nav-link-priv i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}



/* Toggle code*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3002f8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3002f8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}
